<h2>Form Editor</h2>
<h3><%= @mode.capitalize %> Form</h3>

<%= button_to "Save", "#", method: :get %>

<div id="form_editor" class="group">
  <div id="editor_window">
    <%= render "form_editors/editor/tabs", params: @params %>

    <div id="editor_view">
      <%= render "form_editors/editor/" + @editor_tab + "_view" %>
    </div>
  </div>

  <div id="preview_window">
  	<div>
	    <h2><%= @form.title %></h2>
  	</div>

    <form>
    	<%= render "form_editors/preview/field_slot" %>

    	<%= render "form_editors/preview/preview_field",
            field: Field.new(field_type: "text", label: "Email:") %>

	    <%= render "form_editors/preview/field_slot" %>

	    <input type="submit" id="submit_btn">
    </form>
  </div>
</div>