<h2><%= @user.username %></h2>

<p>
  Username: <%= @user.username %>
</p>

<p>
  Email: <%= @user.email %>
</p>

<p>
  <%= link_to "Edit", edit_user_url(@user) %>
  <%= link_to "Change Password", change_password_user_url(@user) %>
</p>

<h3>Forms (<%= @user.forms.count %>)</h3>

<p>
  <%= link_to "Create New Form", "#" %>
</p>

<%= render "shared/forms_table", forms: @user.forms %>