<h2><%= @user.username %></h2>

<p>
  Username: <%= @user.username %>
</p>

<p>
  Email: <%= @user.email %>
</p>

<p>
  <%= button_to "Edit", edit_user_url(@user), method: :get %>
  <%= button_to "Change Password", change_password_user_url(@user), method: :get %>
</p>

<h3>Forms (<%= @user.forms.count %>)</h3>

<p>
  <%= button_to "Create New Form", new_form_url, method: :get %>
</p>

<%= render "shared/forms_table", forms: @user.forms %>