<table id="responses_table">
  <tr>
    <th></th>
    <th>Status</th>
    <th>Submitted</th>
    <% form.fields.order(:pos).each do |field| %>
      <th><%= field.name.split(' ').map(&:capitalize).join(' ') %></th>
    <% end %>
  </tr>

  <% responses.each do |response| %>
    <tr>
      <td>
        <%= button_to "X",
            form_response_url(response, page: page, form_id: response.form.id),
            method: :delete,
            data: { confirm: "Are you sure you want to delete this response?" },
            class: "small_btn delete_btn" %>
      </td>

      <td><%= (response.read ? "Read" : "Unread") %>
      <td><%= response.created_at.to_date %></td>

      <% form.fields.order(:pos).each do |field| %>
        <td>
          <%= response.field_data.find_by_field_id(field.id).value %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>