<label><%= field.label %><br>
  <% field.field_options.each do |option| %>
    <label>
  	  <input type="radio"
             name="<%= field.name %>"
             value="<%= option.value %>"
             <%= 'checked'.html_safe if (option.value == field.default) %>>
      <%= option.label %>
    </label><br>
  <% end %>
</label>