<h2><%= @form.title %></h2>

<form class="disabled_form">
  <p>
    <label>URL:<br>
      <%=link_to new_form_response_url(@form), new_form_response_url(@form) %>
    </label>
  </p>

  <p>
    <label>Description:<br>
      <textarea disabled><%= @form.description %></textarea>
    </label>
  </p>
</form>

<p>
  <%= button_to "Edit", edit_form_url(@form), method: :get %>
  <%= button_to "Delete", form_url(@form), method: :delete,
              data: { confirm: "Are you sure you want to delete this form?" } %>
</p>

<h3>Responses (<%= @form.responses.count %>)</h3>

<%= render "responses_table", form: @form %>