<header>
  <section id="header_wrapper" class="group">
    <a href="<%= root_url %>">
      <h1>
        <span class="app_name">
          FormCraft
        </span>
      </h1>
    </a>

    <nav id="session_nav">
      <% if signed_in? %>
        <ul class="group">
          <li class="session_nav_item">
            <%= link_to current_user.username, user_url(current_user) %>
          </li>
          <li class="session_nav_item">
            <%= button_to "Sign Out", session_url, method: :delete %>
          </li>
        </ul>

      <% else %>
        <ul>
          <li class="session_nav_item">
            <%= button_to "Sign Up", signup_url, method: :get %>
          </li>
          <li class="session_nav_item">
            <%= button_to "Sign In", signin_url, method: :get %>
          </li>
        </ul>
      <% end %>
    </nav>
  </section>
</header>