<!DOCTYPE html>
<html>
<head>
  <title>FormCraft</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render "layouts/header" %>
  <%= render "layouts/flash", flash: flash if flash.any? %>

  <section id="content">
  	<%= yield %>
  </section>

</body>
</html>
